{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebarRight.css' %}">

<div class="column right">
    <div class="text-center">
        <form id="nav-search" class="form-search" action="{% url 'myapp:getuser' %}" method="GET">
            <input list="usernames" id="search-query" class="form-search" type="text" placeholder="Search"
                   name="username"/>
            <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
            <datalist id="usernames">
                {% for author in author_list %}
                    <option value="{{ author.displayName }}"></option>
                {% endfor %}
                <!-- <option value="Mingwei"></option>
                <option value="Lucas"></option>
                <option value="Kiana"></option>
                <option value="Darren"></option>
                <option value="Hongwei"></option>
                <option value="Zihan"></option>
                <option value="Happy tree friend"></option> -->
            </datalist>
        </form>
    </div>
</div>

<script>
    // api call to our api
    // get dat
    // data 
</script>