{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebarLeft.css' %}">

<div class="column float-left left rounded">
    <h1 class="poster-font logo-color" id="logo" style="margin:20px 10px">H</h1>
    <div>
        <div class="options"><a href="{% url "myapp:postList" %}"><i class="fa-solid fa-wand-sparkles"></i>&ensp;Feed</a></div>
        <div class="options"><a href=""><i class="fa-solid fa-at"></i>&ensp;1-to-1</a></div>
        <div class="options"><a href="{% url "myapp:friendRequests" %}"><i class="fa-solid fa-envelope-open"></i>&ensp;Notification</a></div>
        <div class="options"><a href="{% url "myapp:profile" user.username %}"><i class="fa-solid fa-user"></i>&ensp;Profile</a></div>
    </div>
</div>

