{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'css/signup.css' %}">

<style>
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {

        background-color: pink;
        color: white;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        height: 3em;
        padding: 2px 16px;
        background-color: pink;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        height: 4em;
        padding: 2px 16px;
        background-color: white;
        color: white;
    }

    #myBtn {
        color: blue;
    }
</style>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <!-- <div class="modal-content">
        <div class="modal-header">
            <span class="mx-auto">Enter profile picture URL</span><span class="close"> &times;</span>
        </div>
        <div class="modal-body mx-auto">
            
        </div>
        <div class="modal-footer mx-auto">
            <button class="close btn submit-button">Confirm</button>
        </div>
    </div> -->
</div>

<!-- Rest of the file -->
<div class="container text-font h-100" style="background-color: #FBFBFB; padding-top: 5%;">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-center">
            <!-- Row for Headers -->
            <div class="row">
                <div class="col-6">
                    <div class="text-center poster-font">Happy Tree Friends</div>
                </div>
                <div class="col-6">
                    <div class="text-center poster-font secondary-color">Welcome Friend <span id="updating_username"></span></div>
                    <!-- TODO: Darren Need to dynamically update field -->
                </div>
            </div>
            <!-- Row for Form and Profile Picture-->
            <div class="row align-content-center" style="display: flex; padding-top: 2em;">
                <div class="col-6 justify-content-center" style="flex: 1; text-align: center;">
                    <div class="row mx-auto" style="width: 200px; padding-top: 2em;">
                        <div class="col-12 justify-content-center" style="background-color: #F5CAC3; ">
                            <!-- <img src="{% static 'SocialDistribution/CuddlesProfilePictureImageZ.png' %}"
                                alt="cuddles image"> -->
                            <img class="img mx-auto"
                                src="https://static.wikia.nocookie.net/happytreefriends/images/1/13/CuddlesProfilePictureImageZ.png/revision/latest/scale-to-width-down/628?cb=20210624054758"
                                alt="cuddles">
                        </div>
                        <div class="text-font">
                            replace with your avatar with an URL
                            <form id="profile-pic-form">
                            
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="flex: 1;">
                    <form method="POST" action="." class="login-form spacer" id="signup-form">
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <div class="form-group" style="">
                            <label class="text-font" for="username">Username</label>
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            <label class="text-font" for="email">GitHub URL</label>
                            {{author_info_form.github}}
                        </div>
                        <div class="form-group">
                            <label class="text-font" for="password1">Password</label>
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label class="text-font" for="password2">Retype Password</label>
                            {{form.password2}}
                        </div>
                        <div class="form-group">
                            <label class="text-font" for="password2">Enter Image Url</label>
                            {{author_info_form.profileImage}}
                        </div>
                        <div class="" style="padding-bottom: 2em;">
                            {{form.errors}}
                        </div>
                        <div class="row justify-content-center">
                            <input type="submit" class="submit btn submit-button text-center" value="Create Account">
                        </div>
                    </form>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="col-12">
                    <div class="redirect text-center">
                        <span>
                            Already have an account?&nbsp;<a class="highlight-or-false" href="{% url 'login' %}" class="link">Login</a> <br>
                        </span>
                        <a class="highlight-or-false" href="{% url 'password_reset' %}" class="link">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var closeButton = document.getElementsByClassName("close")[1];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.visbility = "visible";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    closeButton.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var input = document.getElementById('username');
    var mirror = document.getElementById('updating_username');

    input.addEventListener('input', function (event) {
        mirror.innerText = event.target.value.split('').join('');

        submitForms = function () {
            document.getElementById("profile-pic-form").submit();
        }
    });
</script>
{% endblock %}