.vscode/settings.json
SocialDistribution/.vscode/settings.json
SocialDistribution/db.sqlite3
__pycache__/
SocialDistribution/myapp/__pycache__/models.cpython-38.pyc
.gitignore
SocialDistribution/db.sqlite3
SocialDistribution/myapp/__pycache__/models.cpython-38.pyc
