.vscode/settings.json
SocialDistribution/.vscode/settings.json
SocialDistribution/myapp/__pycache__/__init__.cpython-38.pyc
SocialDistribution/myapp/__pycache__/apps.cpython-38.pyc
SocialDistribution/accounts/__pycache__/__init__.cpython-38.pyc
SocialDistribution/accounts/__pycache__/admin.cpython-38.pyc
SocialDistribution/accounts/__pycache__/apps.cpython-38.pyc
SocialDistribution/accounts/__pycache__/forms.cpython-38.pyc
SocialDistribution/accounts/__pycache__/models.cpython-38.pyc
SocialDistribution/accounts/__pycache__/urls.cpython-38.pyc
SocialDistribution/accounts/__pycache__/views.cpython-38.pyc
SocialDistribution/accounts/migrations/__pycache__/__init__.cpython-38.pyc
SocialDistribution/myapp/__pycache__/forms.cpython-38.pyc
SocialDistribution/myapp/__pycache__/urls.cpython-38.pyc
SocialDistribution/myapp/__pycache__/views.cpython-38.pyc

SocialDistribution/db.sqlite3
__pycache__/
SocialDistribution/myapp/__pycache__/models.cpython-38.pyc
.gitignore
SocialDistribution/db.sqlite3
SocialDistribution/myapp/__pycache__/models.cpython-38.pyc

**/__pycache__
**/__pycache__/**
*.pyc
*.sqlite3
db.sqlite3
**/.idea/workspace.xml 
**/.idea/tasks.xml
**/.idea

**/htmlcov
**/.coverage
