{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">

    <div class="colContainer">

        {% include "sidebarLeft.html" %}

        <div class="middle">
            <div id="postDiv">
                <form action="{% url 'myapp:newpost' %}">
                    <input id="postBar" type="submit" value="What's on your mind?">
                </form>
                <div id="prompt">
                    <h3>Let's post something!</h3>
                </div>
            </div>
            <div id="postHolder">
                <!-- <div class="singlePost">
                                                        <div class="authorName">{name}</div>
                                                        <div class="postTitle">Title</div>
                                                        <div class="postBody">body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...</div>
                                                        <div class="postTime">2022-02-19 2:14PM<div class="postVis">Visibility: Public</div></div>
                                                        <div class="postActions"><a href="google.com"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;<a href="google.com"><i class="fa-solid fa-heart"></i>&ensp;Like</a>&emsp;<a href="google.com"><i class="fa-solid fa-comment"></i>&ensp;Comment&emsp;</a></div>
                                                    </div> -->
                <!-- Reference: https://stackoverflow.com/questions/6540032/sorting-related-items-in-a-django-template -->
                <!-- https://docs.djangoproject.com/en/dev/ref/templates/builtins/#std:templatefilter-dictsort -->
                {% for post in postList.all|dictsortreversed:"published"%}
                    <div class="singlePost position-relative">
                        <div class="authorName">Author: {{ post.author.id }}</div>
                        <div class="postTitle">{{ post.title }}</div>                        
                        <div class="postBody">{{ post.description }}</div>
                        {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" width="500">
                        {% endif %}
                        <div class="postTime">{{ post.published }}
                            <div class="postVis">Visibility: {{ post.visibility }}</div>
                        </div>
                        <!-- <div>UUID: {{ post.id }}</div> -->
                        <div class="postActions"><a href="google.com"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;<a
                                href="google.com"><i class="fa-solid fa-heart"></i>&ensp;Like</a>&emsp;<a
                                href="{% url 'myapp:postDetail' post.id %}"><i class="fa-solid fa-comment"></i>&ensp;{{ post.count }}&emsp;</a>
                        </div>
                        <a href="{% url 'myapp:postDetail' post.id %}" class="stretched-link"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "sidebarRight.html" %}
    </div>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}