{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    {% load static %}

    {% load markdownify %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">

    <div class="colContainer">

        {% include "sidebarLeft.html" %}

        <div class="middle">
            <div id="postDiv">
                <form action="{% url 'myapp:newpost' %}">
                    <input id="postBar" type="submit" value="What's on your mind?">
                </form>
                <div id="prompt">
                    <h3>Let's post something!</h3>
                </div>
            </div>
            <div id="postHolder">
                <!-- <div class="singlePost">
                                                        <div class="authorName">{name}</div>
                                                        <div class="postTitle">Title</div>
                                                        <div class="postBody">body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...</div>
                                                        <div class="postTime">2022-02-19 2:14PM<div class="postVis">Visibility: Public</div></div>
                                                        <div class="postActions"><a href="google.com"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;<a href="google.com"><i class="fa-solid fa-heart"></i>&ensp;Like</a>&emsp;<a href="google.com"><i class="fa-solid fa-comment"></i>&ensp;Comment&emsp;</a></div>
                                                    </div> -->
                <!-- Reference: https://stackoverflow.com/questions/6540032/sorting-related-items-in-a-django-template -->
                <!-- https://docs.djangoproject.com/en/dev/ref/templates/builtins/#std:templatefilter-dictsort -->
                {% for post in postList.all|dictsortreversed:"published"%}
                    <div class="singlePost position-relative">
                        {% if post.type == 'share'%}
                            <!-- <div class="postActions" style="text-align: left; color: black;"> <span style="font-weight: bold; color: #F28482; font-size: 18px;">{{post.author.username}}</span> shared post from <a a style="color: rgb(135, 172, 228); font-style: italic; font-size: 15px;" href="{{post.source}}">{{post.source}}</a></div> -->
                            <div class="postBody" style="text-align: left; color: black;"> <span style="font-weight: bold; color: #F28482; font-size: 18px;">{{post.author.username}}</span> shared a post.</div>
                            <div class="postBody">Share note: {{post.title}}</div>
                            <div class="postBody" style="color: #F28482; background-color: #d5d5d584; margin-left: 5%;">Original Post Content:<br>{{post.content}}</div>
                            <!-- <div class="postActions" style="float: left; margin-left: 7%; font-size: 12px;"><a style="color: rgb(135, 172, 228); font-style: italic;" href="{{ post.origin }}">link to the original post</a></div> -->
                        {% else %}
                            <div class="authorName">Author: {{ post.author.username }}</div>
                            <div class="postTitle">{{ post.title }}</div>
                            <!-- pip install django-markdownify -->
                            {% if post.contentType == "text/markdown" %}
                                <div class="postBody">{{ post.content | markdownify}}</div>
                            {% else %}
                                <div class="postBody">{{ post.content}}</div>
                            {% endif %}
                            {% if post.post_image %}
                                <img src="{{ post.post_image.url }}" width="100%">
                            {% endif %}
                        {% endif %}
                        <div class="postTime">{{ post.published }}
                            <div class="postVis">Visibility: {{ post.visibility }}</div>
                        </div>
                        <!-- <div>UUID: {{ post.id }}</div> -->
                        <div class="postActions"><a href="{% url 'myapp:sharePost' post.uuid %}"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;<a
                                href="/like?post_id={{post.uuid}}"><i class="fa-solid fa-heart"></i>&ensp;{{post.likes}}</a>&emsp;<a
                                href="{% url 'myapp:postDetail' post.uuid %}"><i class="fa-solid fa-comment"></i>&ensp;{{ post.count }}&emsp;</a>
                        </div>
                        {% if post.type == 'post'%}
                        <a href="{% url 'myapp:postDetail' post.uuid %}" class="stretched-link"></a>
                        {% else %}
                        <a href="{% url 'myapp:shareDetail' post.uuid %}" class="stretched-link"></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "sidebarRight.html" %}
    </div>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}