{% extends 'base.html' %}

{% block title%}New Post{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/newpost.css' %}">
    <body>
        <div class="colContainer">
            {% include "sidebarLeft.html" %}
            <div class="column middle">
                <div>
                    <div>
                        <a href="{% url 'myapp:postList' %}" class="btn btn-light"> Back To Feed </a>                  
                    </div>
                    <div id="newPostContainer">
                        <div class="poster-font logo-color" id="newPostText">New Post</div>
                        <hr>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- {{ form.as_table }} -->
                            <div class="postDetail">
                                <!-- <label for="title">Title:</label> -->
                                {{ form.title }}
                            </div>
                            <div class="postDetail">
                                <!-- <label for="description">Description:</label> -->
                                {{ form.description }}
                            </div>
                            <div class="postDetail">
                                <!-- <label for="description">Description:</label> -->
                                {{ form.content }}
                            </div>
                            <div class="postDetail">
                                <label for="contentType">Content Type:</label>
                                {{ form.contentType }}
                            </div>
                            <div class="postDetail">
                                <!-- <label for="description">Description:</label> -->
                                {{ form.unparsedCategories }}
                            </div>                           
                            <div class="postDetail">
                                <!-- <label for="visibility">Visibility:</label> -->
                                {{ form.visibility }}
                            </div>
                            <div class="postDetail">
                                {{ form.post_image }}
                            </div>
                            <div class="postDetail">
                                <button class="btnShare">Share</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include "sidebarRight.html" %}
        </div>

        {% endblock %}