{% extends 'base.html' %}

{% block title%}New Post{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/newpost.css' %}">
    <body>
        <div class="colContainer">
            {% include "sidebarLeft.html" %}
            <div class="column middle">
                <div>
                    <div>
                        <a href="{% url 'myapp:postDetail' object.uuid %}" class="btn btn-light"> Back To Post </a>                  
                    </div>
                    <div id="delPostContainer" class="singlePost">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="poster-font logo-color" id="newPostText">Delete This Post?</div>    
                                                 
                            <div class="postDetail">
                                <!-- <p>You are about to delete this post.</p>   -->
                                <button class="btnShare">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include "sidebarRight.html" %}
        </div>

        {% endblock %}