{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

    <link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>

    <div class="colContainer">
        {% include "sidebarLeft.html" %}
        <div class="column middle">
            <h2 style="color: #F28482;">The user name "{{ username }}" is Not found</h2>
        </div>
        {% include "sidebarRight.html" %}
    </div>
{% endblock %}