{% extends 'base.html' %}

{% block title%}Post Detail{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/postDetail.css' %}">
    <body>
        <div class="colContainer">
            {% include "sidebarLeft.html" %}
            <div class="column middle">
                <div>
                    <a href="{% url 'myapp:postList' %}" class="btn btn-light"> Back To Feed </a>                  
                </div>
                <div>
                    <div class="singlePost">                      
                        <div class="postBody" style="font-size: 25px; font-weight: bold;">{{ post.author.username }} <span style="font-size: medium;">shared with comments:</span><br>
                        {{post.title}}</div> 
                        {% if request.user.username == post.author.username %}
                            <a href="{% url 'myapp:postEdit' post.uuid %}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{% url 'myapp:postDelete' post.uuid %}"><i class="fa-solid fa-trash-can"></i></a>
                        {% endif%}
                            <div class="postBody">
                                <div class="singlePost" style="background-color: rgba(193, 199, 201, 0.283); margin-left: 6%; margin-top: 0%; border-radius: 4%;">   
                                    <div class="authorName" style="left: 2%; text-indent: 0%;" >{{source_post.author.username}}</div>                   
                                    <div class="postTitle">{{ source_post.title }}</div> 
                                        <div class="postBody">{{ source_post.content }}</div>
                                    <div class="postTime" style="font-size: small;">{{ source_post.published }}<div class="postVis" style="font-size: 12px;">Visibility: {{ post.visibility}}</div></div>  
                                </div>
                            </div>
                        <div>
                            <div class="postActions" style="float: left; margin-left: 7%; font-size: 12px;"><a style="color: rgb(135, 172, 228); font-style: italic;" href="{% url 'myapp:postDetail' original_post.uuid %}">link to the original post</a></div> 
                        </div>      
                        <div class="postTime">{{ post.published }}<div class="postVis">Visibility: {{ post.visibility}}</div></div>  
                        <div class="postActions"><a href="{% url 'myapp:sharePost' post.uuid %}"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;
                            <a href="{% url 'myapp:liked' post.uuid %}"><i class="fa-solid fa-heart"></i>&ensp;Likes</a>&emsp;
                            <a href="{% url 'myapp:postDetail' post.uuid %}"><i class="fa-solid fa-comment"></i>&ensp;{{ post.count }}&emsp;</a></div>                       
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form.as_table }} -->
                        <div class="postDetail">
                            <!-- <label for="title">Title:</label> -->
                            {{ form.comment }}
                        </div>
                        <div class="postDetail">
                            <button class="btnShare">Share</button>
                        </div>
                    </form>
                    {% for comment in comments %}
                    <div class="singlePost position-relative"> 
                        <div class="postBody">{{ comment.author.username }}</div>
                        <div class="postBody">{{ comment.comment }}</div>
                        <div class="postTime">{{ comment.published }}</div>                       
                    </div>                   
                    {% endfor %}
                </div>
            </div>
            {% include "sidebarRight.html" %}
        </div>

        {% endblock %}