/*.column {*/
/*    float: left;*/
/*    background-color: #FBFBFB;*/
/*    !* border: black; *!*/
/*    !* display: table-cell; *!*/
/*}*/

#follow_request_button {
    background-color: #ffc0cb; 
    border: #ffc0cb;
}

.colContainer {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    /* background-color: yellow; */
    height: 100%;
    
}

.middle {
    margin-left: 50px;
    width: 40%;
    margin-top: 30px;
    height: 1000px;
    /* height: auto; */
    background-color: white;
    /* overflow: auto; */
    float: left;
}

/*a:link {*/
/*    text-decoration: none;*/
/*    color: #F5CAC3;*/
/*}*/
/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*a:visited {*/
/*    text-decoration: none;*/
/*    color: #F5CAC3;*/
/*}*/

#postBar {
    background-color: #e9e9e9;
    height: 50px;
    margin-left: 15%;
    margin-top: 3%;
    width:70%;
    border:0;
    border-radius: 25px;
    /* position: fixed; */

}

#prompt {
    margin-left: 20%;
    font-family: 'Lato', sans-serif;
    color: #F5CAC3;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}

#postDiv {
    position: fixed;
    height: auto;
    background-color: #FBFBFB;
    width: 39.5%;
    z-index: 2;
}

input[id^="postBar"]{
    font-family: 'Pacifico', cursive;
    color: #F28482;
    font-size: 25px;
    position: relative;
    left:20px;
    top: 5px;
}

#postHolder {
    padding: 20% 0 0 0;
    height: 100%;
    width: 100%;
    /* background-color: black; */

}

.singlePost {
    /* height: auto; */
    z-index: 1;
    background-color: #FBFBFB;
    width: 100%;
    /* overflow:auto;  */
    padding: 5% 0 5% 0;
    margin-top: 5%;
}

.authorName {
    font-family: 'Pacifico', cursive;
    color: #F28482;
    font-size: 20px;
    position: relative;
    left:100px;
    top: 5px;
}

.postBody {
    width: 90%;
    padding: 1% 5% 1% 5%;
    /* background-color: aqua; */
    display: inline-block;
    /* word-wrap: break-word; */
    font-family: 'Lato', sans-serif;
    height: auto;
    /* height: 100%; */
    overflow-wrap: break-word;
    /* inline-size: 70%; */
}

.postTitle {
    padding: 3% 5% 3% 5%;
    width: 90%;
    display: inline-block;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.postTime {
    /* position: relative;
    left: 20px; */
    width: 90%;
    padding: 5% 5% 5% 5%;
    /* top: 20px; */
    /* background-color: aqua; */
    font-family: 'Lato', sans-serif;
    height: auto;
    font-size: 15px;
    /* height: 100%; */
    /* overflow-wrap: break-word; */
    /* inline-size: 70%; */
}

.postVis {
    /* width: 30%; */
    /* padding: 5% 5% 5% 5%; */
    float:right;
    text-align: right;
}

.postActions {
    float: right;
    text-align: right;
    color: #F28482;
    font-family: 'Lato', sans-serif;
    z-index: 2;
    position: relative;

}

.shareLink {
    text-align: left;
    padding-left: 2em;
    z-index: 2;
    color: #83b2e4;
    font-family: 'Lato', sans-serif;
    position: relative;
}

/*#searchBar {*/
/*    background-color: #e9e9e9;*/
/*    height: 40px;*/
/*    margin-left: 10%;*/
/*    margin-top: 10%;*/
/*    width:60%;*/
/*    border:0;*/
/*    border-radius: 5px;*/
/*    !* position: fixed; *!*/
/*    */
/*}*/
/*input[id^="searchBar"]::placeholder { */
/*    font-family: 'Lato', sans-serif;*/
/*    color: #F28482;*/
/*    font-size: 25px;*/
/*    position: relative;*/
/*    left:20px;*/
/*    top: 5px;*/
/*}*/



/*.users {*/
/*    font-family: 'Lato', sans-serif;*/
/*    color: #F28482;*/
/*    font-size: 25px;*/
/*    padding: 20% 10% 0 10%;*/
/*}*/

