.poster-font {
    font-family: 'Pacifico', cursive;
}

.text-font {
    font-family: 'Lato', sans-serif;
}

.note-font {
    font-family:'Times New Roman';
}

.light-yellow {
    color: #F6BD60;
}

.cream {
    color: #F7EDE2;
}

.light-pink {
    color: #F5CAC3;
}

.greenish-something {
    color: #84A59D;
}

.logo-color {
    color: #F28482;
}