.poster-font {
    font-family: 'Pacifico', cursive;
    align-self: center;
}

.text-font {
    font-family: 'Lato', sans-serif;
}

.note-font {
    font-family:'Times New Roman';
}

.light-yellow {
    color: #F6BD60;
}

.tertiary-color {
    color: #F7EDE2;
}

.secondary-color {
    color: #F5CAC3;
}

.highlight-or-false {
    color: #84A59D;
}

.logo-color {
    color: #F28482;
}