{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    {% load markdownify %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'inboxes/css/feed.css' %}">

    <div class="colContainer">

        {% include "sidebarLeft.html" %}

        <div class="middle">
            <div id="OneToOne">
                <!-- <div class="singlePost">
                                                        <div class="authorName">{name}</div>
                                                        <div class="postTitle">Title</div>
                                                        <div class="postBody">body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...body...</div>
                                                        <div class="postTime">2022-02-19 2:14PM<div class="postVis">Visibility: Public</div></div>
                                                        <div class="postActions"><a href="google.com"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp;<a href="google.com"><i class="fa-solid fa-heart"></i>&ensp;Like</a>&emsp;<a href="google.com"><i class="fa-solid fa-comment"></i>&ensp;Comment&emsp;</a></div>
                                                    </div> -->
                <!-- Reference: https://stackoverflow.com/questions/6540032/sorting-related-items-in-a-django-template -->
                <!-- https://docs.djangoproject.com/en/dev/ref/templates/builtins/#std:templatefilter-dictsort -->
                {% comment %} {% for post in postList.all|dictsortreversed:"published"%} {% endcomment %}
                {% for post in postList %}
                    {% if post.visibility == 'PRIVATE' %}
                        <div class="singlePost position-relative">
                            <div class="authorName">Author: {{ post.author.displayName }}</div>
                            <div class="postTitle">{{ post.title }}</div>
                            <!-- pip install django-markdownify -->
                            {% if post.contentType == "text/markdown" %}
                                <div class="postBody">{{ post.content | markdownify}}</div>
                            {% else %}
                                <div class="postBody">{{ post.content}}</div>
                            {% endif %}
                            {% if post.post_image %}
                                <img src="{{ post.post_image.url }}" width="100%">
                            {% endif %}
                            <div class="postTime">{{ post.published }}
                                <div class="postVis">Visibility: {{ post.visibility }}</div>
                            </div>
                            <!-- <div>UUID: {{ post.id }}</div> -->
                            <div class="postActions">
                                <!-- <a href="{% url 'posts:sharePost' post.uuid %}"><i class="fa-solid fa-share"></i>&ensp;Share</a>&emsp; -->
                                <i class="fa-solid fa-heart like_btn" onclick="like_handler('{{ post.id }}','{{ post.author.host }}', '{{ post.author.id }}', '{{ post.likes }}')" style="cursor: pointer;"></i>&ensp;<span id="{{ post.id }}">{{ post.likes }}</span>
                                <a href="{% url 'posts:postDetail' post.uuid %}"><i class="fa-solid fa-comment"></i>&ensp;{{ post.count }}&emsp;</a>
                            </div>
                            {% if post.type == 'post'%}
                            <a href="{% url 'posts:postDetail' post.uuid %}" class="stretched-link"></a>
                            {% else %}
                            <a href="{% url 'posts:shareDetail' post.uuid %}" class="stretched-link"></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include "sidebarRight.html" %}
    </div>
    {% load static %}
    <script src="{% static 'inboxes/js/like_handler.js' %}"></script>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}